.main {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer{
    background-color: #1F2937;
}

.content {
    width: 100vh;
    margin: auto;
}

/* styles for the header*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}
h1, h2 {
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.links { 
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

img {
    justify-content: flex-end;
    width: 480px;
    height: 240px;
}

button {
    border-radius: 4px;
}




